div.title{background-color: #000000; color: #FFFFFF; width: 100%; margin: 2px;}
span.title{background-color: #000000; color: #FFFFFF; font-size: medium; font-weight: bold; text-align: center; vertical-align: middle;}
span.center{vertical-align: middle; text-align: center;}
div.message{height: 100%; }
span.message{ font-size: medium; text-align: center;}
span{font-size: medium;}
screen{font-size: medium;}
h1{text-align: center;}
table.message{text-align: center; vertical-align: middle; height: 100%; width: 100%;}
table.warning{text-align: center; vertical-align: middle; height: 100%; width: 100%;}
div.menu{ width: 100%; text-align: left; font-size: medium; text-indent: 15%;}


