<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="SatSignatureProvider_ProjectTypeSettings" name="Telium SAT Signature Provider Project Type Settings" schema="schema/SatSignatureProvider_ProjectTypeSettings.exsd"/>
   <extension
         point="com.ingenico.ingedev.telium.core.signatureProvider">
      <signatureProviderDef
            class="com.ingenico.ingedev.telium.build.signature.sat.SatTeliumBuildSignatureProvider">
      </signatureProviderDef>
   </extension>

</plugin>
